<table id="calendar">
<tbody>
<tr><th>Week</th><th>Date</th><th>Topic</th><th>Course Notes</th><th>Practice</th> <th> Assignment </th></tr>
{% for org_hash in site.data.syllabus2.weeks %}
  <tr> <td class="weeknum" rowspan="3">{{org_hash.weekNum}}</td>
	{% for day in org_hash.basic %}
	<td> {{day.date}} </td>
	<td> {% if day.slidesURL %} <a href="{{day.slidesURL}}"> {{day.lecture}}</a>  {% else %} {{day.lecture}} {% endif %}
		</td>
	<td>
	{% for reading in day.readings %}
	<a href="{{reading.url}}">{{reading.name}} </a> <br />
	{% endfor %}
	</td>
	<td>  <a href="{{day.problemURL}}"> {% if day.problemURL %} {{day.problemName}} {% endif %}</a> </td>
	<td>  <a href="{{day.assignmentURL}}">{{day.assignmentName}} </a> </td>
	</tr>
	<tr>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
