<table id="calendar">
<tbody>
<tr><th>Week</th><th>Date</th><th>Content</th><th>Title</th><th>Readings</th> <th> Assignment </th></tr>
{% for org_hash in site.data.syllabus2.weeks %}
  {% capture row_index %}{% cycle 'odd', 'even' %}{% endcapture %}
  <tr class="{{row_index}}"> <td class="weeknum" rowspan="{{org_hash.basic.size}}">{{org_hash.weekNum}}</td>
	{% for day in org_hash.basic %}
	<td> {{day.date}}</td>
	<td> {% if day.contentURL %} <a href="{{day.contentURL}}"> {{day.content}}</a>
		 {% else %} {{day.content}} {% endif %} </td>
	<td>{{day.title}}</td>
	<td>
	{% for reading in day.readings %}
	<a href="{{reading.url}}">{{reading.name}} </a> <br />
	{% endfor %}
	</td>
	<td>  {% if day.assignmentURL %} <a href="{{day.assignmentURL}}"> {{day.assignmentName}}</a>
		 {% else %} {{day.assignmentName}} {% endif %} </td>
	</tr>
	<tr class="{{row_index}}">
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
