<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-data">
  <div id="announcements-header"></div>
    {% include sidebar.html %}

    <div class="content container">
    {% if page.url == '/' %}
     {% assign pages_list = site.pages %}
     {% for node in pages_list %}
        {% if node.title == 'Announcements' %}
          {% if node.layout == "page" %}
            {{node.content}}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for node in pages_list %}
        {% if node.title == 'Syllabus' %}
          {% if node.layout == "page" %}
            {{node.content}}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
      {{ content }}
    </div>

  </body>
</html>
