<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-data">
    {% include sidebar.html %}
    <div>
          <div id="announcements-header" class="theme-data"> 
          <b> Announcements! </b> 
          <div class="swiper-container2">
    <!-- Additional required wrapper -->
        <!-- If we need pagination -->
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev2"></div>
    <div class="swiper-button-next2"></div>
    
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar2"></div>
    <div class="swiper-wrapper">
      {% for announcement in site.data.announcements %}
        <div class="swiper-slide">
        {{announcement}}
        </div>
      {% endfor %}

</div>
</div>
</div>
    <div class="content container">
      {{ content }}
    </div>
    </div>
  </body>

<script>
    $(document).ready(function () {
    //initialize swiper when document ready  
    var mySwiper = new Swiper ('.swiper-container2', {
      // Optional parameters
        nextButton: '.swiper-button-next2',
        prevButton: '.swiper-button-prev2',
      direction: 'horizontal',
      loop: true,
      autoplay: 5000,
      speed: 1000,
      initialSlide:0
    })        
  });
  </script>
</html>
